/* .about-section {
    background-color: #B3DADA !important;
    color: rgb(10, 10, 10);

}

.about-img {
    margin-left: 400px;
}

.about-headline {
    /* color: #BB1070; */
    /* color: #BB1070;
    font-weight: 700;
    font-size: 70px; 
}*/


