.login-form {
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-header {
    text-align: center;
    color: #BB1070;
}
.submit-btn {
    padding: 10px 20px;
    font-size: medium;
    font-weight: bold;
    color: white;
    background-color: #BB1070;
    border-radius: 10px;
}

.submit-btn:hover {

    border: 2px solid #388EB3;
    border-radius: 10px;
    color: white;

}

